@use '../../_sass/init' as *;

.paragraph--accordion {
  &--title-wrapper {
    padding-bottom: $spacing-2;

    @include media(tablet) {
      padding-bottom: $spacing-3;
    }
  }

  .field--name-title {
    @include ts-block--title;
    width: min(calc(100% - 40px), 848px);
    margin: 0 auto;
    overflow-wrap: break-word;

    @include media(tablet) {
      text-align: center;
    }
  }

  .field--name-accordion-item {
    padding-bottom: $spacing-9;
  }
}

.paragraph--type--product-information {
  padding-top: $spacing-6;
  background-color: $earth-10;

  @include media(desktop) {
    padding-top: $spacing-11;
  }
}

.paragraph--type--application-advice {
  padding-top: $spacing-8;

  @include media(tablet) {
    padding-top: $spacing-16;
  }

  @include media(desktop) {
    padding-top: $spacing-16;
  }

  .paragraph-background {
    @include product-colors('background-color', 'colorPrimary');
  }

  .field--name-title {
    color: $white;
  }

  // .field--name-accordion-item {
  // }
}

.paragraph--type--product-information + .paragraph--type--application-advice {
  background-color: $earth-10;
}

/* Application Guidelines - Minisites Accordion Paragraph */
.paragraph--type--accordion {
  .paragraph--accordion--title-wrapper {
    padding-top: $spacing-3;
  }

  .field--name-title {
    @include product-colors('color', 'colorPrimary');
    margin: 0 auto $spacing-2;
  }

  .field--name-description {
    @include ts-content;
    width: calc(100% - 40px);
    margin: 0 auto $spacing-6;
    color: $grey-text;
    overflow-wrap: break-word;

    @include media(tablet) {
      width: min(calc(100% - 40px), 452px);
      text-align: center;
    }
  }

  .field--name-accordion-item {
    background-color: $earth-10;
  }
}