.menu--footer {
  display: none;

  @include media(desktop) {
    display: block;
  }

  > .level-0 {
    @include flex-container;

    > .menu-item {
      @extend %flex-3;
      display: block;
      text-transform: uppercase;

      > a,
      > span {
        @include ts-footer-block--title;
        display: block;
        margin-bottom: $spacing-4;
        color: $grey;
      }
    }
  }

  .sub-menu {
    .menu-item {
      display: block;
      text-transform: initial;

      a {
        @include ts-content;
        display: block;
        margin-bottom: $spacing-1;
        color: $grey-dark;
      }
    }
  }
}