.block-footer-newsletter {
  // Layout
  margin-bottom: $spacing-7;
  padding-bottom: $spacing-3;
  border-bottom: 1px solid $grey-light;

  .newsletter-subscription {
    @include flex-container;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    // max-width: rem-calc(550px);
    margin-right: auto;
    margin-left: auto;

    @include media(desktop) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  .newsletter-first {
    @extend %flex-5;
    margin-bottom: $spacing-6;
    text-align: center;

    @include media(desktop) {
      margin-bottom: 0;
      text-align: left;
    }
  }

  .newsletter-second {
    @extend %flex-6;
  }

  // Items
  .title {
    @include ts-newsletter-block--title;
    margin-bottom: $spacing-2;
  }

  .subtitle {
    @include ts-content;
  }

  form {
    position: relative;
  }

  .form-email {
    @include box-shadow('medium');
    display: block;
    width: 100%;
    height: rem-calc(64px);
    padding: rem-calc(20px) rem-calc(155px) rem-calc(20px) rem-calc(20px);
    border: 0;
  }

  .form-item-agreement {
    @include ts-tiny;
    color: $grey;

    a {
      text-decoration: underline;
      color: $grey;
    }
  }

  .form-actions {
    position: absolute;
    top: $spacing-1;
    right: $spacing-1;
    z-index: 1;
    max-width: 50%;
  }

  input.form-submit {
    @extend %button;
    display: block;
    width: 100%;
  }
}

/* RTL Layout */
body.rtl {
  .newsletter-subscription {
    .newsletter-first {
      @include media(desktop) {
        text-align: right;
      }
    }

    .form-email {
      padding: rem-calc(20px) rem-calc(20px) rem-calc(20px) rem-calc(155px);
    }

    .form-actions {
      right: initial;
      left: $spacing-1;
    }
  }
}
