@use '../../_sass/init' as *;
@use '../../../dist/icons/icons.scss' with (
  $icons_path: '../../../../dist/icons/'
);

.region-footer {
  background-color: $ocean;

  .footer--content { // .flex-container
    flex-direction: column;
    align-items: center;

    @include media(desktop) {
      align-items: flex-start;
    }

    @include media(site) {
      flex-flow: row wrap;
    }
  }

  // Footer Menu
  // .menu--footer {
  //   @include flex-col($desktop: 12);
  //   margin-bottom: $spacing-5;

  //   @include media(site) {
  //     @include flex-col($desktop: 8);
  //   }
  // }
}