// @use '../../dist/icons/icons_classes.css';

[class*='icon-icon--']::before {
  display: inline-block;
  width: 20px;
  height: 20px;
  content: '';
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

[class*='icon-bg--'] {
  background-repeat: no-repeat;
}

.icon-only {
  font-size: 0;
  line-height: 0;
}