@use '../../templates/_sass/init' as *;

.cards-container {
  // Title and subtitle container
  &--text {
    @include container;
    margin-bottom: $spacing-5;
    text-align: left;

    @include media(desktop) {
      text-align: center;
    }
  }

  &--title {
    @include ts-block--title;

    @include media-between('tablet', 'desktop') {
      width: col-width('tablet', 7);
    }
  }

  &--subtitle {
    @include ts-content;
    margin-bottom: $spacing-3;

    @include media-between('tablet', 'desktop') {
      width: col-width('tablet', 7);
    }
  }

  // Full width background container
  // &--outer {}

  // Content .container with $max-width
  // &--inner {}

  // .flex-container for flex grid items
  &--content {
    @include scroll-container;
  }

  // Style for a card item within a card (scroll) container
  .card {
    @include scroll-container-item--large;
  }
}

/* RTL layout */
body.rtl {
  .cards-container {
    transform: scaleX(-1);

    &--text,
    &--outer {
      transform: scaleX(-1);
    }

    &--text {
      text-align: right;

      @include media(desktop) {
        text-align: center;
      }
    }
  }
}
