@use '../../_sass/init' as *;

/* Admin tabs and some buttons */
.block-local-tasks-block {
  position: fixed;
  top: 44%;
  right: $spacing-1;
  z-index: 1000;
  max-height: 100vh;
  overflow-y: auto;
  transform: translateY(-50%);

  .rtl & {
    right: auto;
    left: $spacing-1;
  }
}

.tabs {
  // @include container;
  .local-tasks--toggle {
    @extend %button-blue;
    margin: 0 0 $gutter;
  }

  ul.tabs {
    display: none;
    padding: 0 0 $spacing-2;
  }

  &:hover {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    padding: $spacing-2 0;

    ul.tabs {
      display: block;
    }

    li {
      margin: 0 0 $gutter;
      list-style: none;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      @extend %button;
      display: block;
    }
  }
}