@use '../../_sass/init' as *;

/* Admin links */
.block-local-tasks-block,
.block-local-tasks-block.contextual-region {
  position: fixed;
  top: 44%;
  right: $spacing-1;
  z-index: 1000;
  max-height: 100vh;
  overflow-y: auto;
  transform: translateY(-50%);

  .rtl & {
    right: auto;
    left: $spacing-1;
  }
}

.tabs {
  .local-tasks--toggle {
    @extend %button-blue;
    width: 100%;
    margin: 0 0 $gutter;
  }

  ul.tabs {
    display: none;
    margin: 0;
    padding: 0;
  }

  &:hover {
    ul.tabs {
      display: block;
    }

    li {
      margin: 0 0 $gutter;
      list-style: none;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      @extend %button;
      display: block;
    }
  }
}