@use '../../_sass/init' as *;
@use '../../../dist/icons/icons.scss' with (
  $icons_path: '../../../../dist/icons/'
);

// Common styles for desktop and mobile
.menu--main {
  .menu-item {
    position: relative;
    display: block;
  }

  a,
  span:not(.responsive-dropdown-trigger) {
    display: block;
    white-space: nowrap;
    color: $grey-text;

    &:hover {
      color: $ocean;
    }

    &.is-active {
      font-weight: $font-weight-bold;
    }
  }
}

.responsive-dropdown-trigger::before {
  @extend %icon-icon--arrow-down--menu;
}

// Desktop styles
@include media(site) {
  .menu--main {
    position: relative;
    display: flex;

    > .menu {
      display: flex;
      flex-direction: row;
      align-items: center;

      .menu-item {
        display: block;

        &:not(:last-child) {
          margin-right: $spacing-3;
          margin-bottom: 0;

          .rtl & {
            margin-right: 0;
            margin-left: $spacing-3;
          }
        }

        > a,
        > span:not(.responsive-dropdown-trigger) {
          display: block;
          margin-bottom: 0;
          padding: rem-calc(9px) 0;
          cursor: pointer;
          font-weight: $font-weight-regular;
          font-size: $font-size-normal;
          color: $grey-text;

          &:hover {
            color: $ocean;
          }
        }

        &--expanded {
          display: flex;
          align-items: center;

          &:hover {
            .responsive-dropdown-trigger::before {
              transform: rotate(180deg);
            }

            .menu--main--dropdown {
              @include visually-hidden-off;
              position: absolute;
              top: 100%;
              z-index: 1;
              visibility: visible;
              display: block;
              min-width: rem-calc(370px);
              padding-top: rem-calc(18px);
              border-radius: $border-radius;
              opacity: 1;
            }
          }

          .responsive-dropdown-trigger {
            margin-left: $spacing-1;

            &::before {
              width: $spacing-1;
              height: $spacing-1;
              transition: transform .2s;
            }

            /* stylelint-disable max-nesting-depth */
            .rtl & {
              margin-right: $spacing-1;
              margin-left: 0;
            }
            /* stylelint-enable max-nesting-depth */
          }
        }
      }
    }

    .menu--main--dropdown {
      @include visually-hidden;
      @include box-shadow('large');
      z-index: -1;
      visibility: hidden;
      opacity: 0;
      transition: opacity $transition-time;

      &::before {
        position: absolute;
        top: 12px;
        right: auto;
        left: $spacing-3;
        display: block;
        width: rem-calc(10px);
        height: rem-calc(6px);
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.443 1.737L.796 6h8.691L6.841 1.737a2 2 0 00-3.398 0z' fill='%23fff'/%3E%3C/svg%3E");
        background-size: 100% auto;
      }

      .rtl & {
        right: 0;
        left: auto;

        &::before {
          right: $spacing-3;
          left: auto;
        }
      }
    }

    /* Dropdown Menu list */
    .sub-menu {
      display: block;
      margin: 0;
      padding: $spacing-2 $spacing-13 $spacing-5 $spacing-3;
      border-radius: $border-radius;
      overflow: hidden;
      background-color: $white;
      background-image: url("data:image/svg+xml,%3Csvg width='92.941' height='143.336' viewBox='0 0 92.941 143.336' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M92.941 0c-1.316 2.634-2.477 5.404-3.365 8.387A279.198 279.198 0 011.48 143.336H92.94z' fill='%2300783f'/%3E%3Cpath d='M92.941 37.47C71.387 80.454 39.257 116.73 0 143.337h92.941z' fill='%23009845'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right bottom;

      &.one-col {
        column-count: 1;
      }

      &.two-cols {
        column-count: 2;
      }

      &.three-cols {
        column-count: 3;
      }

      .menu-item {
        display: block;
        min-width: rem-calc(120px);

        &:not(:last-child) {
          margin-bottom: $spacing-2;
        }

        a {
          @include ts-content;
          display: block;
          padding: 0;
          font-weight: $font-weight-regular;
          color: $grey-text;
          transition: color .2s;
        }
      }

      .rtl & {
        padding-right: $spacing-3;
        padding-left: $spacing-13;
        background-image: url("data:image/svg+xml,%3Csvg width='92.941' height='143.336' viewBox='0 0 92.941 143.336' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0c1.31 2.628 2.465 5.391 3.348 8.367A277.79 278.542 0 0 0 91 143H.001Z' fill='%2300783f'/%3E%3Cpath d='M0 37c21.568 43.038 53.718 79.36 93 106H0Z' fill='%23009845'/%3E%3C/svg%3E");
        background-position: left bottom;
      }
    }
  }
}

@include media(large) {
  .menu--main > .menu .menu-item {
    &:not(:last-child) {
      margin-right: $spacing-4;

      .rtl & {
        margin-left: $spacing-4;
      }
    }
  }
}

// Responsive styles
@include media-max(site) {
  .menu--main {
    display: none;

    .mobile-menu-open & {
      display: block;
      width: 100%;
      margin-right: 0;
    }

    // First level menu
    .menu {
      width: 100%;

      > .menu-item {
        display: block;
        padding: 0 $spacing-3;

        > a,
        > span:not(.responsive-dropdown-trigger) {
          @include ts-section-title;
          padding: $spacing-2 0;
          overflow: hidden;

          &::before {
            content: none;
          }
        }

        &.menu-item--expanded > a {
          margin-right: $spacing-3;

          .rtl & {
            margin-right: 0;
            margin-left: $spacing-3;
          }
        }
      }
    }

    // Second level menu
    .sub-menu {
      padding: 0;

      .menu-item {
        padding: 0 $spacing-3;

        a {
          @include ts-contact-person;
          padding-top: $spacing-3;
          padding-bottom: $spacing-3;
          font-weight: 400;

          &:hover {
            color: $ocean;
          }
        }

        &:not(:last-child) a {
          @include border-dotted('bottom');
        }
      }

      .menu-item--expanded::before {
        display: none;
      }
    }

    .menu--main--dropdown {
      position: static;
      visibility: visible;
      display: none;
      margin: 0 rem-calc(-20px);
      background-color: $grey-light;
      opacity: 1;

      &.visible {
        display: block;
      }
    }

    .responsive-dropdown-trigger {
      position: absolute;
      top: $spacing-2;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem-calc(44px);
      height: rem-calc(34px);
      padding-right: $container-margin-mobile;
      cursor: pointer;
      transition: transform .2s;

      &.dropdown-arrow-down::before {
        transform: rotate(180deg);
      }

      &::before {
        width: rem-calc(14px);
        height: rem-calc(14px);
      }

      .rtl & {
        right: auto;
        left: 0;
        padding-right: 0;
        padding-left: $container-margin-mobile;
      }
    }
  }
}