@use 'sass:math';
@use '../_sass/init' as *;
@use '../../dist/icons/icons.scss' with (
  $icons_path: '../../../dist/icons/'
);

/* Form items */
button,
optgroup {
  @include ts-content;
  font-family: inherit;
}

input,
select,
textarea {
  @include ts-content;
  max-width: 100%;
  font-family: inherit;

  &:focus {
    outline-color: $body-color;
  }

  // Form status messages
  &.error,
  &[type].error {
    border: 1px solid $messages-error-background;
  }
}

// Buttons
[type='submit'],
[type='button'],
[type='reset'],
[type='file'],
button,
.button {
  @include button;
  -webkit-appearance: none;
}

/* Inputs */
// Input text, password, select
select,
textarea,
input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'],
input[type='number'],
input[type='search'] {
  @include box-shadow('small');
  box-sizing: border-box;
  padding: $input-padding;
  border: 1px solid $input-border;
  border-radius: $border-radius;
  outline: none;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-bg;
  transition: border-color $transition-time ease, color $transition-time ease;

  &:hover,
  &:focus {
    border-color: $input-border-active;
    color: $input-color-active;
  }

  &[disabled],
  .disabled {
    opacity: $disabled-opacity;

    &:hover,
    &:focus {
      border-color: $input-border;
      color: $input-color;
    }
  }
}

input[type='tel'],
input[type='number'] {
  .rtl & {
    direction: ltr;
    text-align: right;
    appearance: textfield;
  }
}

select {
  @extend %icon-bg--arrow-down--menu;
  padding-right: $spacing-4;
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) 50%;
  background-size: 12px auto;
  -webkit-appearance: none;
  appearance: none;

  &:hover,
  &:focus {
    @extend %icon-bg--arrow-down--menu;
  }

  .rtl & {
    padding-right: $spacing-2;
    padding-left: $spacing-4;
    background-position: $container-margin-mobile 50%;
  }
}

// Textarea
textarea {
  height: auto;
}

// Placeholder
input,
textarea {
  &::placeholder {
    color: $body-color;
    opacity: $disabled-opacity;
  }
}

// Form item
.form-item {
  position: relative;
  margin-bottom: $form-space;

  label {
    display: block;
    color: $label-color;
  }

  &--description {
    @include ts-tiny;
    padding: $spacing-2 0 0;
    color: $earth;
  }
}

// Radio buttons and checkboxes
.form-type-radio,
.form-type-checkbox {
  input {
    margin: math.div($form-space, 3) 0;
  }

  label {
    display: inline;
  }
}

// Form checkbox
.form-checkboxes,
.facets-widget-checkbox {
  ul {
    padding: 0;
  }
}

.form-type-checkbox,
.form-checkboxes li,
.facets-widget-checkbox li {
  margin-bottom: rem-calc(20px);
  list-style: none;

  li {
    padding-right: 0;
  }

  label {
    @extend %icon-bg--checkbox;
    display: inline-block;
    padding-left: $spacing-4;
    cursor: pointer;
    color: $grey-text;
    background-size: rem-calc(22px) auto;

    .rtl & {
      padding-right: $spacing-4;
      padding-left: 0;
      background-position: 100% 50%;
    }
  }

  a {
    color: $grey-text;
  }

  input {
    display: none;

    &:checked + label {
      @extend %icon-bg--checkbox--checked;
      background-size: rem-calc(22.0001px) auto; // force background update on Safari
    }
  }
}

// Form radio buttons
.form-type-radio {
  label {
    position: relative;
    display: inline-block;
    padding-left: $spacing-4;
    cursor: pointer;
    color: $grey-text;
    background-size: rem-calc(22px) auto;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: rem-calc(20px);
      height: rem-calc(20px);
      border: 1px solid $earth;
      border-radius: 100%;
      content: '';
      background-color: $white;
    }

    &::after {
      position: absolute;
      top: rem-calc(4px);
      left: rem-calc(4px);
      width: rem-calc(14px);
      height: rem-calc(14px);
      border-radius: 100%;
      content: '';
      background-color: $ocean;
      opacity: 0;
      transition: all $transition-time--fast ease;
      transform: scale(0);
    }

    .rtl & {
      padding-right: $spacing-4;
      padding-left: 0;

      &::before {
        right: 0;
        left: auto;
      }

      &::after {
        right: rem-calc(4px);
        left: auto;
      }
    }
  }

  a {
    color: $grey-text;
  }

  input {
    display: none;

    &:checked + label {
      &::before {
        border-color: $ocean;
      }

      &::after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

// File upload
.form-file {
  margin-right: $form-space;
}

input[type='file'] {
  height: auto;
  padding: $input-padding;
}

.form-item--error-message {
  @include ts-mini;
  padding-top: $spacing-1;
  color: $red;
}

/* Password in forms */
#field-password-add-more-wrapper .password-parent {
  position: relative;
}

.form-type-password {
  position: relative;

  /* Show/hide password - eye icon */
  .show-password {
    position: absolute;
    top: 50%;
    right: $spacing-2;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    transform: translateY(-50%);

    &:active,
    &:focus,
    &:hover {
      background-color: transparent;
    }

    .rtl & {
      right: auto;
      left: $spacing-2;
    }
  }

  .password-strength {
    position: absolute;
    bottom: $form-space;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 3px;

    .password-indicator {
      height: 3px;
      background-color: lighten($messages-error-background, 33%);

      .indicator {
        height: 3px;
        background-color: lighten($messages-ok-background, 33%);
      }
    }

    .password-strength-text,
    .password-strength-title {
      display: none;
    }
  }
}

.password-suggestions.description {
  font-style: italic;
  opacity: $disabled-opacity;
}

/* Webforms */
.webform-client-form {
  .webform-component {
    border-bottom: 1px solid rgba($body-color, $disabled-opacity);
  }

  table {
    th,
    td {
      padding: math.div($form-space, 3);
      border: 1px solid rgba($body-color, $disabled-opacity);
    }

    .form-item {
      padding: 0;
    }
  }
}

.webform-container-inline.form-item label {
  display: inline;
}

.webform-progressbar {
  padding: $form-space * 2 0;
}

.webform-confirmation {
  @include container;
  padding: $form-space 0;

  + .links {
    a {
      @include button;
      margin: $form-space $form-space 0 0;
    }
  }
}

.form-item-submitted-component-time-ampm {
  margin-left: math.div($form-space, 2);

  label {
    margin-right: 0;
  }
}

// Horizontal Rule
hr.webform-horizontal-rule {
  @include border-dotted('bottom');
  margin: $spacing-1 0 $spacing-5;
  border-top: 0;
}
