@use '../../_sass/init' as *;

.maintenance-page {
  &--header {
    @include container;
    padding-top: $spacing-2;
  }

  &--logo {
    display: block;
    max-height: rem-calc(60px);
  }

  &--content {
    @include container;
    padding-top: $spacing-5;
    text-align: center;

    @include media(site) {
      justify-content: center;
    }

    &--title {
      @include ts-hero--title;
      margin-bottom: $spacing-2;
      text-transform: capitalize;
    }

    &--text {
      @include ts-content;

      @include media(tablet) {
        max-width: 90ch;
      }
    }
  }
}
