@use '../../../_sass/init' as *;

.page-error {
  // height: 80vh;
  padding: $spacing-18 0 $spacing-10;

  @include media(desktop) {
    padding-top: $spacing-20;
  }

  &--content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    text-align: center;
  }

  &--title {
    margin-bottom: $spacing-3;
    font-weight: $font-weight-bold;
    font-size: rem-calc(36px);
    text-transform: capitalize;
    color: $ocean;
  }

  &--subtitle {
    @include ts-content;
    @include flex-col($mobile: 4, $tablet: 5, $desktop: 5);
    margin-bottom: $spacing-5;
    color: $earth;
  }

  &--form {
    .form-item {
      position: relative;

      &--search-input {
        @include ts-content;
        width: 100%;
        padding: rem-calc(12px) $spacing-2;
        border: 1px solid $earth-30;
        border-radius: $border-radius;
        color: $earth;
        background-color: $white;

        @include media(tablet) {
          width: rem-calc(356px);
        }

        @include media(desktop) {
          width: rem-calc(416px);
        }
      }

      &--search-icon {
        transition: all .1s cubic-bezier(.21, .77, .57, .92);

        &.search-icon-hide {
          visibility: hidden;
          opacity: 0;
        }

        &::before {
          position: absolute;
          top: 50%;
          right: rem-calc(20px);
          visibility: visible;
          display: flex;
          width: rem-calc(18px);
          height: rem-calc(18px);
          opacity: 1;
          transform: translateY(-50%);
          pointer-events: none;
        }
      }
    }
  }
}
