@use '../../templates/_sass/init' as *;
@use '../../dist/icons/icons.scss' with (
  $icons_path: '../../../dist/icons/'
);

.article-block {
  &__title {
    @include ts-article--content;
    margin-bottom: 0;
    color: $grey-dark;
  }

  &__subtitle {
    @include ts-content;
    color: $grey-dark;
  }

  &__image {
    position: relative;
    margin-bottom: $spacing-2;
    border-radius: $border-radius;
    overflow: hidden;

    .field--name-hero-image {
      margin-bottom: 0;
    }

    .field--name-treatment {
      position: absolute;
      right: 0;
      bottom: 0;

      .rtl & {
        right: auto;
        left: 0;
      }
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &.article-big-image {
    .article-block__title {
      @include ts-section-title;
    }
  }
}
