@use '../../../_sass/init' as *;

.node--type-article {
  .layout-sidebar--right {
    padding: 0 0 $spacing-5;

    @include media(desktop) {
      padding-top: $spacing-5;
    }
  }

  // Node view
  .node-content {
    position: relative;

    &.layout-sidebar--right--content {
      margin-right: 0;
      margin-left: 0;

      @include media-max(desktop) {
        width: 100%;
      }

      @include media(desktop) {
        padding-left: col-width('desktop', 1);

        .rtl & {
          padding-right: col-width('desktop', 1);
          padding-left: 0;
        }
      }
    }

    &--heading {
      color: $ocean;
    }

    // Same as article-block__time-category
    &--meta {
      margin-bottom: $spacing-3;
      font-size: $font-size-normal;

      @include media(desktop) {
        margin-bottom: $spacing-6;
      }
    }

    .field--name-hero-image {
      margin-bottom: $spacing-3;

      @include media(desktop) {
        margin-bottom: $spacing-5;
      }

      img {
        display: block;
        width: 100%;
      }
    }
  }

  .field--name-hero-subtitle {
    @include ts-content--title;
    margin-bottom: $spacing-3;
    font-weight: $font-weight-regular;
  }

  .field--name-body {
    margin-bottom: $spacing-6;

    p {
      @include ts-article--content;
    }
  }
}
