@use 'sass:string';

/* Color variables */
$black: #000;
$ocean: #176ddd;
$ocean-secondary: #003b88;
$red: #ff0909;
$white: #fff;
$blue: #00a0df;
$blue-secondary: #00698f;
$purple: #9d1d96;
$purple-secondary: #752157;
$green: #3b0;
$green-secondary: #7db41e;
$orange: #f90;
$orange-secondary: #eaa23d;
$grey: #878787;
$grey-light: #ccc;
$grey-dark: #5f5f5f;

/* Colors */
$body-color: $grey-dark;
$body-background-color: $white;
$overlay-background: rgba(0, 0, 0, .5);
$link-color: $blue;
$link-hover-color: $blue-secondary;
$selection-color: $body-background-color;
$selection-bg: $body-color;
$messages-ok-text: $white;
$messages-ok-background: $ocean;
$messages-warn-text: $white;
$messages-warn-background: $orange;
$messages-error-text: $white;
$messages-error-background: $red;

// Form elements colors
$button-color: $white;
$label-color: $grey;
$input-color: $grey-dark;
$input-bg: $white;
$input-border: $grey-light;
$input-border-hover: $grey-dark;
$input-border-active: $grey-dark;
$input-color-active: $grey-dark;
