@use 'sass:string';

// Color variables
$ocean: #176ddd;
$ocean-secondary: #003b88;
$red: #ff0909;
$white: #fff;
$blue: #00a0df;
$blue-secondary: #00698f;
$green: #3b0;
$green-secondary: #7db41e;
$orange: #f90;
$grey: #878787;
$grey-light: #efefef;
$grey-dark: #5f5f5f;

$active-color: $ocean;
$active-color-secondary: $ocean-secondary;
$error-color: $red;
$warn-color: $orange;
$ok-color: $green;

// Color usage
$body-color: $grey-dark;
$body-background-color: $white;
$overlay-background: rgba(0, 0, 0, .5);
$link-color: $blue;
$link-hover-color: $blue-secondary;
$selection-color: $body-background-color;
$selection-bg: $body-color;
$messages-ok-text: $white;
$messages-ok-background: $ok-color;
$messages-warn-text: $white;
$messages-warn-background: $warn-color;
$messages-error-text: $white;
$messages-error-background: $error-color;

// Form elements colors
$button-color: $white;
$label-color: $grey;
$input-color: $grey-dark;
$input-color-active: $grey-dark;
$input-border: $grey-light;
$input-border-hover: $grey-dark;
$input-border-active: $grey-dark;
$input-bg: $white;
