@use '../../../_sass/init' as *;
@use '../../../../dist/icons/icons.scss' with (
  $icons_path: '../../../../../dist/icons/'
);

.article-teaser-list {
  &.node--type-article,
  &.node--type-external-article {
    @include border-dotted('bottom');
    position: relative;
    margin-bottom: $spacing-3;
    padding-bottom: $spacing-3;

    @include media(tablet) {
      margin-bottom: $spacing-4;
    }

    .node-content {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      &::before {
        @extend %icon-icon--arrow-right--grey;
        position: absolute;
        right: 0;
        width: rem-calc(17px);
        height: rem-calc(17px);
        opacity: .5;

        .rtl & {
          right: auto;
          left: 0;
        }
      }
    }

    .article-block__content {
      padding-right: $spacing-4;

      .rtl & {
        padding-right: 0;
        padding-left: $spacing-4;
      }
    }
  }

  .article-block__title {
    margin-bottom: 0;
    font-weight: $font-weight-regular;
    line-height: 1.33;
    color: $grey-text;
  }
}
