@use '../_sass/init' as *;

.container {
  @include container;
}

.flex-container {
  @include flex-container;
}

.scroll-container {
  @include scroll-container;
}

.scroll-container-item {
  @include scroll-container-item;
}

.scroll-container-item--large {
  @include scroll-container-item--large;
}

.dialog-off-canvas-main-canvas {
  height: 100%;
}

// .layout-container {
// }

// main {
// }

#header {
  background-color: $white;

  &-container {
    @include container;
    display: flex;
    align-items: center;
    padding: 7px 0;
  }
}

body.mobile-menu-open {
  overflow: hidden;
}

// Layout with sidebar.
[class*='layout--sidebar'] {
  @include flex-container;

  @include media(desktop) {
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }
}

#sidebar-first,
#sidebar-second {
  @include flex-col($mobile: 4, $tablet: 8, $desktop: 3);
}

.layout--sidebar-first,
.layout--sidebar-second {
  #content {
    @include flex-col($mobile: 4, $tablet: 8, $desktop: 9);
  }
}

// .layout--sidebar-second {
//   .region-content {}
//   .region-sidebar-first {}
// }

.layout--sidebar-both {
  #content {
    @include flex-col($mobile: 4, $tablet: 8, $desktop: 6);
  }
}

// .layout--no-sidebar {}
