@use '../../_sass/init' as *;
@use '../../../dist/icons/icons.scss' with (
  $icons_path: '../../../../dist/icons/'
);

.pager {
  margin: $spacing-3 0;
  list-style: none;
}

.pager__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pager__item {
  display: inline-block;

  &.is-active {
    span {
      border-radius: $spacing-1-5;
      text-align: center;
      cursor: default;
      color: $white;
      background-color: $ocean;
    }
  }

  &--number {
    display: inline-block;
    padding: 0 $spacing-1;
  }

  .pager-first {
    &::before {
      content: '\00ab';
    }
  }

  .pager-previous {
    &::before {
      content: '\2039';
    }
  }

  .pager-next {
    &::after {
      content: '\203A';
    }
  }

  .pager-last {
    &::after {
      content: '\00bb';
    }
  }
}
