@use '../_sass/init' as *;
@use '../../dist/icons/icons.scss' with (
  $icons_path: '../../../dist/icons/'
);

.path-user .layout-container {
  margin: 0;
}

.user-form,
.user-pass,
.user-cancel-form {
  width: 100%;
  max-width: rem-calc(416px);
  margin: auto;
  padding: $spacing-13 0 $spacing-13;

  input {
    width: 100%;

    &.form-submit {
      display: block;
      width: auto;
      min-width: rem-calc(160px);
      margin: 0 auto $spacing-2;

      &.button--danger {
        background: $error-color;
      }
    }
  }

  .password-confirm-message {
    position: absolute;
    padding-top: $spacing-1;

    .error {
      color: $error-color;
    }

    .ok {
      color: $active-color;
    }
  }

  .ui-dialog & {
    padding: 0;
  }
}

.user-cancel-form.confirmation .form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: $spacing-4;

  input.form-submit {
    margin: 0;
  }
}